footer{
    background-color: rgb(27,29,40);
    padding: 30px 60px 30px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >img{
        height: 30px;
    }
    >a{
        &:hover{
            color: red;
        }
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
}