<div class='impressum'>
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Sven Rösgen <br>
        Frerener Straße 14<br>
        49809 Lingen <br>
    </p>
    <p> <strong>Vertreten durch: </strong><br>
        Sven Rösgen<br>
    </p>
    <p><strong>Kontakt:</strong> <br>
        Telefon: +49170-6489285<br>
        E-Mail: <a href='mailto:SvenRoesgen@gmail.com'>SvenRoesgen&#64;gmail.com</a><br></p><br>
    Website Impressum erstellt durch <a href="https://www.impressum-generator.de">impressum-generator.de</a> von der <a
        href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Kanzlei Hasselbach</a>
</div>