<div class="menu_container fontRaleway">
    <h2>OUR MENU</h2>
    <div>
        <img src="assets/img/r1.png">
        <div class="menu_box">
            <span>Tonkasu Ramen</span>
            <div>
                <div>
                    <span>CHICKEN</span>
                    <span>11.95€</span>
                </div>
                <div>
                    <span>BEEF</span>
                    <span>12.95€</span>
                </div>
                <div>
                    <span>SHRIMP</span>
                    <span>13.95€</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="menu_box">
            <span>Spicy Miso Ramen</span>
            <div>
                <div>
                    <span>CHICKEN</span>
                    <span>11.95€</span>
                </div>
                <div>
                    <span>BEEF</span>
                    <span>12.95€</span>
                </div>
                <div>
                    <span>SHRIMP</span>
                    <span>13.95€</span>
                </div>
            </div>
        </div>
        <img src="assets/img/r2.png">
    </div>
    <div>
        <img src="assets/img/r3.png">
        <div class="menu_box">
            <span>Shio Ramen</span>
            <div>
                <div>
                    <span>CHICKEN</span>
                    <span>11.95€</span>
                </div>
                <div>
                    <span>BEEF</span>
                    <span>12.95€</span>
                </div>
                <div>
                    <span>SHRIMP</span>
                    <span>13.95€</span>
                </div>
            </div>
        </div>
    </div>
</div>